# Go
backend/bin/
backend/tmp/
backend/server
backend/migrate
*.exe

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Env
.env
backend/.env
frontend/.env.local
frontend/.env

# Docker
uploads/
data/

# IDE
.idea/
.vscode/
*.swp

.npmrc

frontend/error.log
frontend/package-lock.json
